.work {
    background-color: transparent;
    height: auto; /* Adjusted for flexible height */
    margin-top: 7%;
    padding: 20px; /* Added padding for better spacing */
    margin-left: 10%;
}

.work h2 {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center; /* Centered the heading */
}

.work p {
    margin-left: 25%; /* Adjusted margin for better alignment */
    margin-top: 2%;
    font-size: 20px;
}